
{% block services %}
    <div class="services">
    <div class="services-content">
      <div class="services-section">
        <h2>Low Code Enterprise Solutions</h2>
        <img src="/assets/images/FM.png" alt="Filemaker" class="services-logo">
        <img src="/assets/images/PowerPlatforms.jpg" alt="Power Platforms" class="services-logo">
      </div>
      <div class="services-section">
        <h2>Low Code Websites</h2>
        <img src="/assets/images/WP.png" alt="Wordpress" class="services-logo">
        <img src="/assets/images/Webflow.png" alt="Webflow" class="services-logo">
      </div>
    </div>
  </div>
{% endblock services %}