{# {% extends "default-header.njk" %} #}

{% block heros %}
  <div class="hero">
        <img src="/assets/images/hero_bg.jpg" alt="Hero Background" class="hero-bg">
    <div class="hero-content">
      <img src="/assets/images/leonardchiuNoBG.png" alt="Leonard Chiu">
      <div class="hero-text">
        <h1>Hello World</h1>
        <p>Simpler solution to higher productivity application</br>  
is key to success in digitalisation!</p>
      </div>
    </div>
  </div>

{% endblock heros %}
