{% extends "default-header.njk" %}

{% block hero %}
  <div class="hero">
        <img src="/assets/images/hero_bg.jpg" alt="computer codes background" class="hero-bg">
    <div class="hero-content">
      {# {{content | safe}} #}
    </div>
  </div>
{% endblock hero %}
