{% extends "default-header.njk" %}

{% block hero %}
  <div class="hero">
        <img src="{{ bgImage }}" alt="Hero Background" class="hero-bg">
    <div class="hero-content">
      <img src="{{ image }}" alt="Leonard Chiu">
      <div class="hero-text">
        {{content | safe}}
      </div>
    </div>
  </div>
{% endblock hero %}
