* {
	margin: 0;
	padding: 0;
	font-family: 'Muli', Helvetica, sans-serif;
	line-height: 1.4em;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Muli';
} */

p {
	font-family: 'PT Serif';
}

body {
	overscroll-behavior: none;
}

.top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 80%;
	margin: 0 auto;
	height: auto;
}

li {
	display: inline;
	padding: 0px 20px;
	line-height: 70px;
}

.main-content {
	margin: 0 auto;
	/* width: 100%; */
	padding: 0px 0px;
}

footer {
	width: 100%;
	background-color: #ededed;
	height: auto;
	padding: 20px 0px;
}

.footer-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 80%;
	margin: 0 auto;
	height: auto;
}

.footer-section {
	padding: 20px;
}

.footer-section li {
	display: inline-block;
	padding: 20px 0px;
	line-height: 0px;
	width: 100%;
}

.social {
	padding: 20px 0px 0px 0px;
}

form {
	padding-top: 20px;
}

input {
	margin-bottom: 20px;
	height: 30px;
	width: 80%;
}

.copyright {
	text-align: center;
	font-style: italic;
	font-size: 12px;
}

.hero {
	/* background-color: lightgreen; */
	width: 100%;
	position: relative;
	margin: 0px 0px;
}

.hero-content {
}

.hero-bg {
	height: 70vh;
	margin: 0 auto;
	width: 100%;
}

.hero-content img {
	position: absolute;
	/* top: 21%; */
	left: 10%;
	bottom: 5px;
	height: 90%;
}

.hero-text {
	position: absolute;
	right: 20%;
	top: 40%;
	color: white;
	height: auto;
	width: auto;
	background-color: #525252;
	padding: 30px;
	border-radius: 20px;
}

.hero-text h1 {
	font-size: 50px;
}

.hero-text p {
	font-size: 20px;
	border-left: 5px solid red;
	padding-left: 10px;
}

.services {
	margin-bottom: 20px;
}

.services-content {
	width: 80%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 50px 0px;
}

.services-section {
	display: grid;
	grid-template-areas: "title title" "fm pp";
}

.services-section h2 {
	grid-area: title;
	text-align: center;
}

.services-section img {
	justify-self: center;
	align-self: center;
}

.services-logo {
	width: 80%;
}

.index-writeup {
	background-color: #ededed;
}

.writeup-section {
	width: 80%;
	margin: 0 auto;
	padding: 50px;
	line-height: 1.4em;
}

.result-content {
	width: 80%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	height: 250px;
}

.result {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.result-heading {
	font-size: 100px;
}

.bg {
	background-color: lightgreen;
}
