* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 80%;
	margin: 0 auto;
}

li {
	display: inline;
	padding: 0px 20px;
	line-height: 80px;
}

.main-content {
	margin: 0 auto;
	width: 80%;
	padding: 50px 0px;
}

footer {
	width: 100%;
	background-color: #ededed;
	height: auto;
	padding: 20px 0px;
}

.footer-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 80%;
	margin: 0 auto;
	height: auto;
}

.footer-section {
	padding: 20px;
}

.footer-section li {
	display: inline-block;
	padding: 20px 0px;
	line-height: 0px;
	width: 100%;
}

.social {
	padding: 20px 0px 0px 0px;
}

input {
	margin-bottom: 20px;
	height: 30px;
	width: 80%;
}

.copyright {
	text-align: center;
	font-style: italic;
	font-size: 12px;
}

h2 {
	color: orange;
}

.bg {
	background-color: lightgreen;
}
